In [5]:
# Series Data Structure        # 1- D Data Structure

In [9]:
import pandas as pd
import numpy as np

In [10]:
a=pd.Series([12, 45, 67])
print(a)

0    12
1    45
2    67
dtype: int64

In [11]:
b=pd.Series([12, 56, 78], index=("A", "B", "C"))
print(b)

A    12
B    56
C    78
dtype: int64

In [13]:
print(np.max(b))
print(np.argmax(b))
print(np.sum(b))

78
C
146

In [14]:
val=pd.Series(4, index=("USA", "Chaina", "India"))
print(val)

USA       4
Chaina    4
India     4
dtype: int64

In [15]:
val=pd.Series(np.array([34, 67, 78]))
print(val)

0    34
1    67
2    78
dtype: int32

In [20]:
d={"USA":[34, 56, 78], "Bhutan":90, "China":67}
c=pd.Series(d)
print(c)

USA       [34, 56, 78]
Bhutan              90
China               67
dtype: object

In [21]:
print(c.iloc[0])

[34, 56, 78]

In [22]:
print(c.iloc[2])

67

In [23]:
print(c.loc["China"])

67

In [26]:
print(c.loc[["USA", "China"]])

USA      [34, 56, 78]
China              67
dtype: object

In [27]:
print(c.loc["USA":"China"])

USA       [34, 56, 78]
Bhutan              90
China               67
dtype: object

In [28]:
# DataFrame Data Structure

In [29]:
a=pd.DataFrame([12, 45, 67, 89])
print(a)

    0
0  12
1  45
2  67
3  89

In [30]:
a=pd.DataFrame([[12, 56], (45, 78), [78, 90]], index=("A", "B", "C"), columns=["X", "Y"])
print(a)

    X   Y
A  12  56
B  45  78
C  78  90

In [31]:
a=pd.DataFrame(np.array([34, 78, 90]))
print(a)

    0
0  34
1  78
2  90

In [32]:
a=pd.DataFrame({"India":[45, 78], "Bhutan":[67, 81], "China":[10, 97]}, index=("A", "B"))
print(a)

   India  Bhutan  China
A     45      67     10
B     78      81     97

In [35]:
d1={"USA":34, "Bhutan":67}
d2={"Bhutan":78}
d3={"China":71}
a=[d1, d2, d3]
val=pd.DataFrame(a, index=("A", "B", "C"))
print(val)

   Bhutan  China   USA
A    67.0    NaN  34.0
B    78.0    NaN   NaN
C     NaN   71.0   NaN

In [36]:
a=pd.DataFrame({"India":[45, 78], "Bhutan":[67, 81], "China":[10, 97]}, index=("A", "B"))
print(a)

   India  Bhutan  China
A     45      67     10
B     78      81     97

In [37]:
print(a.loc["B"])

India     78
Bhutan    81
China     97
Name: B, dtype: int64

In [38]:
print(a.loc["A"])

India     45
Bhutan    67
China     10
Name: A, dtype: int64

In [39]:
print(a["India"])

A    45
B    78
Name: India, dtype: int64

In [40]:
a["USA"]=[34, 67]
print(a)

   India  Bhutan  China  USA
A     45      67     10   34
B     78      81     97   67

In [41]:
a.loc["C"]=(34, 71, 90, 0)
print(a)

   India  Bhutan  China  USA
A     45      67     10   34
B     78      81     97   67
C     34      71     90    0

In [42]:
a["Korea"]=False
a["Nepal"]=4
print(a)

   India  Bhutan  China  USA  Korea  Nepal
A     45      67     10   34  False      4
B     78      81     97   67  False      4
C     34      71     90    0  False      4

In [44]:
a["Canada"]=[56, 89, None]
print(a)

   India  Bhutan  China  USA  Korea  Nepal  Canada
A     45      67     10   34  False      4    56.0
B     78      81     97   67  False      4    89.0
C     34      71     90    0  False      4     NaN

In [45]:
a["Srilanka"]=pd.Series({"A":4, "C":90})
print(a)

   India  Bhutan  China  USA  Korea  Nepal  Canada  Srilanka
A     45      67     10   34  False      4    56.0       4.0
B     78      81     97   67  False      4    89.0       NaN
C     34      71     90    0  False      4     NaN      90.0

In [46]:
print(a.loc["B": , "China":"Canada"])

   China  USA  Korea  Nepal  Canada
B     97   67  False      4    89.0
C     90    0  False      4     NaN

In [47]:
print(a.loc[: , ["USA", "Nepal"] ])

   USA  Nepal
A   34      4
B   67      4
C    0      4

In [49]:
a["Pakistan"]=a["India"]+a["Canada"]
print(a)

   India  Bhutan  China  USA  Korea  Nepal  Canada  Srilanka  Pakistan
A     45      67     10   34  False      4    56.0       4.0     101.0
B     78      81     97   67  False      4    89.0       NaN     167.0
C     34      71     90    0  False      4     NaN      90.0       NaN

In [51]:
print(np.max(a["India"]))
print(np.argmax(a["India"]))
print(np.sum(a["India"]))

78
B
157

In [52]:
b=a.T
print(b)

              A      B      C
India        45     78     34
Bhutan       67     81     71
China        10     97     90
USA          34     67      0
Korea     False  False  False
Nepal         4      4      4
Canada       56     89    NaN
Srilanka      4    NaN     90
Pakistan    101    167    NaN

In [55]:
print(a.loc["B", "India"])

78

In [57]:
v=a.drop("C")
print(v)

   India  Bhutan  China  USA  Korea  Nepal  Canada  Srilanka  Pakistan
A     45      67     10   34  False      4    56.0       4.0     101.0
B     78      81     97   67  False      4    89.0       NaN     167.0

In [58]:
c=v.T.drop("Pakistan")
x=c.T
print(x)

  India Bhutan China USA  Korea Nepal Canada Srilanka
A    45     67    10  34  False     4     56        4
B    78     81    97  67  False     4     89      NaN

In [67]:
pd.read_csv?

In [68]:
a=pd.read_csv("pokemon_data.txt", delimiter="\t", index_col="Name")
a.head(6)

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,58,64,58,80,65,80,1,False

In [78]:
a=pd.read_csv("pokemon_data.txt", delimiter="\t")
a.head(6)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False

In [79]:
b=a.set_index("Name")
b.head(5)

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False

In [80]:
val=b.reset_index()
val.tail(4)

,Name,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
796,DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True

In [83]:
b=b.rename(columns={"#":"Number"})
b.head()

,Number,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False

In [85]:
c=list((b.columns))
print(c)

['Number', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

In [86]:
#Boolean Mapping

In [89]:
val=b[b["HP"]>180]
val

,Number,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Chansey,113,Normal,NaN,250,5,5,35,105,50,1,False
Wobbuffet,202,Psychic,NaN,190,33,58,33,58,33,2,False
Blissey,242,Normal,NaN,255,10,10,75,135,55,2,False

In [94]:
val1=b[(b["Type 1"]=="Grass") & (b["Attack"]>50) & (b["Speed"]>90)]        #Use | for or and & for and here
val1

,Number,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Jumpluff,189,Grass,Flying,75,55,70,55,95,110,2,False
Grovyle,253,Grass,NaN,50,65,45,85,65,95,3,False
Sceptile,254,Grass,NaN,70,85,65,105,85,120,3,False
SceptileMega Sceptile,254,Grass,Dragon,70,110,75,145,85,145,3,False
Leafeon,470,Grass,NaN,65,110,130,60,65,95,4,False
ShayminLand Forme,492,Grass,NaN,100,100,100,100,100,100,4,True
ShayminSky Forme,492,Grass,Flying,100,103,75,120,75,127,4,True
Serperior,497,Grass,NaN,75,75,95,75,95,113,5,False
Simisage,512,Grass,NaN,75,98,63,98,63,101,5,False
Whimsicott,547,Grass,Fairy,60,67,85,77,75,116,5,False
Virizion,640,Grass,Fighting,91,90,72,90,129,108,5,True