In [4]:
# Splitting of a text into words #

In [5]:
text1='The cornet is like the trumpet, but has a conical bore, more compact shape, and mellow tone'
text2=text1.split(' ')
print(text2)

['The', 'cornet', 'is', 'like', 'the', 'trumpet,', 'but', 'has', 'a', 'conical', 'bore,', 'more', 'compact', 'shape,', 'and', 'mellow', 'tone']

In [9]:
# Using endswith(c), startswith(c) #

In [10]:
text3=[item for item in text2 if item.endswith('e')]
print(text3)

['The', 'like', 'the', 'more', 'tone']

In [11]:
# Using isupper(), islower(), istitle() #

In [12]:
text4=[item for item in text2 if item.islower()]
print(text4)

['cornet', 'is', 'like', 'the', 'trumpet,', 'but', 'has', 'a', 'conical', 'bore,', 'more', 'compact', 'shape,', 'and', 'mellow', 'tone']

In [13]:
# Using lower(), upper(), title() #

In [14]:
text5=[item.upper() for item in text2]
print(text5)

['THE', 'CORNET', 'IS', 'LIKE', 'THE', 'TRUMPET,', 'BUT', 'HAS', 'A', 'CONICAL', 'BORE,', 'MORE', 'COMPACT', 'SHAPE,', 'AND', 'MELLOW', 'TONE']

In [15]:
# Number of words #

In [16]:
print(len(text2))

17

In [17]:
# Joining a list about a string #

In [18]:
text6=' '.join(text2)
print(text6)

The cornet is like the trumpet, but has a conical bore, more compact shape, and mellow tone

In [19]:
## Functions applicable on text directly ##

In [21]:
# Using strip() (from both start and the end) or rstrip() (from end only) #

In [22]:
text1='  The cornet is like the trumpet, but has a conical bore, more compact shape, and mellow tone  '
text2=text1.strip()
print(text1)
print(text2)

  The cornet is like the trumpet, but has a conical bore, more compact shape, and mellow tone
The cornet is like the trumpet, but has a conical bore, more compact shape, and mellow tone

In [23]:
# split() #

In [24]:
text3=text2.split()
print(text3)

['The', 'cornet', 'is', 'like', 'the', 'trumpet,', 'but', 'has', 'a', 'conical', 'bore,', 'more', 'compact', 'shape,', 'and', 'mellow', 'tone']

In [25]:
# lower(), upper(), title() #

In [26]:
text4=text2.upper()
print(text4)

THE CORNET IS LIKE THE TRUMPET, BUT HAS A CONICAL BORE, MORE COMPACT SHAPE, AND MELLOW TONE

In [29]:
# replace() #

In [34]:
text5=text4.replace('A', 'xx')
print(text5)

THE CORNET IS LIKE THE TRUMPET, BUT HxxS xx CONICxxL BORE, MORE COMPxxCT SHxxPE, xxND MELLOW TONE

In [35]:
# Searching for a substring #

In [36]:
val='NET' in text5
print(val)

True

In [37]:
print(text5.find('CO'))

4

In [38]:
print(text5.rfind('CO'))

64

In [39]:
# splitlines() (to split about \n) #

In [41]:
text6=text2.splitlines()
print(text6)

['The cornet is like the trumpet, but has a conical bore, more compact shape, and mellow tone']

In [42]:
# Reading a file into text #

In [43]:
f=open('Letter.txt', 'r')
f.seek(0)
text=f.read()
print(text)

To ,
The General Secretary
Gopali Youth Welfare Society
No-Shooting Area, Salua
Date: 3rd July 2019
Subject: Regarding payment of T-shirts of Helping Hands.
Sir,
Few days ago we ordered T-shirts for students of schools who actively participated in Helping Hands 2018 and
contributed a big donation. This is to inform you that a sum of INR 14,500 + 5% GST i.e. total of INR 15,225 is
needed. The T-Shirts will be directly send to the schools and the above mentioned sum includes Courier Charges
also.
We will be paying the above mentioned sum in two installations one of 10150 i.e. 70% then the rest of the money
and GST when T-Shirts will get printed.
Kindly allow me to use the above mentioned sum for this purpose.
Details of the Dealer:
Co. Name - Incorporated Pride
Name - Victor
204, 24c Rajanigandha
Hiranandani Garden, Powai
Mumbai- 400076
Landmark- Nr. S.M Shetty School
GST No.- 27BAYPS6974A1ZX
Your Faithfully
Saurav Kumar Nishant
Finance Head, GYWS

In [44]:
text1=text.splitlines()
print(text1)

['To ,', 'The General Secretary', 'Gopali Youth Welfare Society', 'No-Shooting Area, Salua', 'Date: 3rd July 2019', 'Subject: Regarding payment of T-shirts of Helping Hands.', 'Sir,', 'Few days ago we ordered T-shirts for students of schools who actively participated in Helping Hands 2018 and', 'contributed a big donation. This is to inform you that a sum of INR 14,500 + 5% GST i.e. total of INR 15,225 is', 'needed. The T-Shirts will be directly send to the schools and the above mentioned sum includes Courier Charges', 'also.', 'We will be paying the above mentioned sum in two installations one of 10150 i.e. 70% then the rest of the money', 'and GST when T-Shirts will get printed.', 'Kindly allow me to use the above mentioned sum for this purpose.', 'Details of the Dealer:', 'Co. Name - Incorporated Pride', 'Name - Victor', '204, 24c Rajanigandha', 'Hiranandani Garden, Powai', 'Mumbai- 400076', 'Landmark- Nr. S.M Shetty School', 'GST No.- 27BAYPS6974A1ZX', 'Your Faithfully', 'Saurav Kumar Nishant', 'Finance Head, GYWS']

In [45]:
# Regular expressions #

In [46]:
import re

In [47]:
# We can use all text operarions with DataFrame using 'str' #

In [48]:
import numpy as np
import pandas as pd

In [49]:
val=pd.DataFrame({'text':['Saurav', 'Hi', 'Nice one', 'He loves coding']})
val

              text
0           Saurav
1               Hi
2         Nice one
3  He loves coding

In [50]:
temp=val['text'].str.len()
temp

0     6
1     2
2     8
3    15
Name: text, dtype: int64

In [51]:
temp=val['text'].str.upper()
temp

0             SAURAV
1                 HI
2           NICE ONE
3    HE LOVES CODING
Name: text, dtype: object

In [54]:
temp=val['text'].str.replace('e', 'xxx')
temp

0                 Saurav
1                     Hi
2           Nicxxx onxxx
3    Hxxx lovxxxs coding
Name: text, dtype: object

In [55]:
temp=val['text'].str.upper().str.replace('E', 'xxxx')
temp

0                   SAURAV
1                       HI
2           NICxxxx ONxxxx
3    Hxxxx LOVxxxxS CODING
Name: text, dtype: object

In [56]:
## ASCII encoding and UTF-8 encoding ##

In [57]:
# ASCII has only 128 values that includes English alphabets, numbers(0-9), some characters .
# But UTF-8 provides a much bigger platform and provides many other languages, emoji etc which is not possible in Ascii
# Now UTF-8 is widely accepted encoding scheme than ASCII